[Unit]
Description=Run API
Requires=network.target
After=systemd-user-sessions.service

[Service]
Type=simple
ExecStart=/home/mic-710iva/api_box/service_reboot/setup.sh
ExecStop=/bin/echo stop API
KillMode=mixed
TimeoutStopSec=30
User=techpro
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target
